.result {
  border-radius: 5px;
  width     : 100%;
  min-width : 500px;
  min-height: 150px;
  color     : black;
  padding   : 2em;
  margin-bottom: 20px;
}
.result .table tbody + tbody {
  border-top: 1px solid #bfbfbf;
}
.result .table .thead-dark th:nth-child(1) {
  width: 30px;
}
.result .table .thead-dark th:nth-child(2) { 
  width: 15%;
}
.result .table .thead-dark th:nth-child(3) {
  width: 12%;
}
.table tbody:nth-child(even) tr:nth-child(1) {
  background: #fff;
}
.table tbody:nth-child(odd) tr:nth-child(1) {
  background: #f1f1f1;
}
.table tbody:nth-child(odd) tr:nth-child(1)[aria-expanded="true"],
.table tbody:nth-child(even) tr:nth-child(1)[aria-expanded="true"]{
  background:#d9d9d9;
}

.expand.result {
  cursor: pointer;
}

#link_location {
  width: 100%;
}

.modal-title {
  color: #000;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.search {
  flex: 1
}
.search .form-control{
  border: 1px solid #ced4da;
}

.nav-link {
  cursor: pointer;
}

.ipvX {
  position: absolute;
  right:0;
  bottom: 0;
}

.btn-collapsible {
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  max-width: 40px;
}
.btn-collapsible.btn-xs {
  max-width: 25px;
}
.btn-collapsible.btn-sm {
  max-width: 34px;
}
.btn-collapsible.btn-lg {
  max-width: 50px;
}
.btn-collapsible span {
  opacity: 0;
  text-indent: -6px;
  display: inline-block;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.btn-collapsible:hover {
  max-width: 300px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-collapsible:hover span {
  opacity: 1;
  text-indent: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/*
.active.info, .result.INFO {
  background-color: #007bff;
}
.active.notice, .result.NOTICE {
  background-color: #fff638;
}
.active.warning, .result.WARNING {
  background-color: #ff9019;
}
.active.error, .result.ERROR {
  background-color: #dc3545;
}
.active.critical, .result.CRITICAL {
  background-color: #dc3545;
}*/
.result.container table th,
.result.container table td{
  font-size: 14px;
}
tr.result[aria-expanded] th{
  position: relative;
}
tr.result[aria-expanded] th:before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
}
/*Notice*/
tr.result.NOTICE[aria-expanded] th:before,
tr.result.NOTICE td:nth-child(4):after,
.active.notice {
  background-color: #f1c40f;
}
tr.result.NOTICE td:nth-child(3){
  color: #f1c40f;
  font-weight: 700;
}
/*Info*/
tr.result.INFO[aria-expanded] th:before,
tr.result.INFO td:nth-child(4):after,
a[ngbtooltip="Display all results"].active,
.active.info
 {
  background-color:#68ad54;
}
tr.result.INFO td:nth-child(3){
  color: #68ad54;
  font-weight: 700;
}
/*Warning*/
tr.result.WARNING[aria-expanded] th:before,
tr.result.WARNING td:nth-child(4):after,
.active.warning{
  background-color:#db6b1a;
}
tr.result.WARNING td:nth-child(3){
  color: #db6b1a;
  font-weight: 700;
}

/*Error*/
tr.result.ERROR[aria-expanded] th:before,
tr.result.ERROR td:nth-child(4):after,
.active.error  {
  background-color:#c0392b;
}
tr.result.ERROR td:nth-child(3){
  color: #c0392b;
  font-weight: 700;
}

/*Critical*/
tr.result.CRITICAL[aria-expanded] th:before,
tr.result.CRITICAL td:nth-child(4):after,
.active.critical{
  background-color:#c0392b;
}
tr.result.CRITICAL td:nth-child(3){
  color: #c0392b;
  font-weight: 700;
}
.badge-secondary{
  background-color: #fff;
  color: #000;
}



tr.result.INFO td:nth-child(4),

tr.result.WARNING td:nth-child(4),
tr.result.NOTICE td:nth-child(4),
tr.result.ERROR td:nth-child(4),
tr.result.CRITICAL td:nth-child(4){
  position: relative;
  padding-right: 60px;
}

tr.result.INFO td:nth-child(4):after,
tr.result.NOTICE td:nth-child(4):after,
tr.result.WARNING td:nth-child(4):after,
tr.result.ERROR td:nth-child(4):after,
tr.result.CRITICAL td:nth-child(4):after{
  content: "";
  border-radius: 2px;
  position: absolute;
  height: 20px;
  right: 20px;
  top: 10px;
  width: 20px;
}
.result-table{ width: 100%;}


.export, .share, .settings {
  margin-left: 5px;
}

.history > i, .export > i, .share > i, .settings > i {
  margin-right: 4px;
}
@media (max-width:992px){
  .result{ padding: 15px;}
  .filter .nav-link{ padding-left:.5rem; padding-right:.5rem}
}
@media (max-width:767px){
  .result{
    min-width: inherit;
    padding: 0 15px;
  }
  .filter li{ margin-bottom: 10px;}
  .actions_btn a,
  .settings{ margin-bottom: 10px; font-size: .85em;}
  .filter,
  .result-table{ padding: 0 15px;width:100%}
  .filter li{ margin-left: 0 !important; margin-right: 10px !important;}
  .ipvX{bottom:13px}
}
@media (max-width:500px){
  .settings{ margin-left: 0;}
  .filter .search{ width: 100%; margin-right: 0 !important;}
}