# See http://help.github.com/ignore-files/ for more about ignoring files.

# build output
dist/
public/

# generated types
.astro/

# dependencies
/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/e2e/*.js
/e2e/*.map
.tmp
.e2e-chrome-profile/

# Emacs backup files
*~

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# OS
.DS_store

*storybook.log
*.zip
