language: node_js
node_js:
    - 12

dist: trusty
sudo: false

addons:
    chrome: stable

cache:
    directories:
        - node_modules

install:
    - npm install
script:
    - xvfb-run npm run e2e
