<footer class="pb-0 pt-2">
  <div class="container">
    <nav class="row justify-content-between">
      <ul class="row">
        <li class="col-lg">
          <button placement="top-start" [ngbTooltip]="tipContent" triggers="click:click click:blur" i18n tabindex="0" class="program-versions link" i18n="footer|">Program versions</button>
        </li>
        <li class="col-md-auto">
          <a href="mailto:{{contactAddress}}">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>{{contactAddress}}
          </a>
        </li>
        <li class="col-md-auto">
          <a href="https://github.com/zonemaster/zonemaster">
            <i class="fa fa-code" aria-hidden="true"></i><ng-container i18n="footer|">Source code</ng-container>
          </a>
        </li>
        <li class="col-md-auto">
          <a href="https://doc.zonemaster.net">
            <i class="fa fa-book" aria-hidden="true"></i><ng-container i18n="footer|">Documentation</ng-container>
          </a>
        </li>
      </ul>
    </nav>

    <p class="copyright small" i18n="footer|">
      Copyright © AFNIC and The Swedish Internet Foundation
    </p>

  </div>

  <div class="col-12" *ngIf="footerLogo !== ''">
    <img src="{{footerLogo}}" alt="{{footerLogoAlt}}" class="footer-logotype">
  </div>

</footer>

<ng-template #tipContent>
  <dl class="version">
    <ng-container *ngFor="let item of versions">
      <dt>{{ item[0] }}</dt>
      <dd>{{ item[1] }}</dd>
    </ng-container>
  </dl>
</ng-template>
