<footer class="pb-0 pt-2 bg-light">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
          <span placement="top" [ngbTooltip]="tipContent" i18n tabindex="0">Program versions</span>
      </div>
      <div class="col-md-5 pull-right">
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a class="text-dark" href="mailto:{{contactAddress}}">{{contactAddress}}</a>
          </div>
          <div class="col-md-4">
            <i class="fa fa-github" aria-hidden="true"></i>
            <a class="text-dark" href="https://github.com/zonemaster/zonemaster" i18n>Source code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="copyright text-muted small" i18n>Copyright © AFNIC and The Swedish Internet Foundation. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<ng-template #tipContent>
  <div class="version">
    <ng-container *ngFor="let item of versions">
      <div>{{ item[0] }}</div>
      <div>{{ item[1] }}</div>
    </ng-container>
  </div>
</ng-template>
