footer {
  background-color: var(--primary-color-lighter);
  border-top: 1px solid var(--primary-color-light);
  display: flex;
}

footer a.program-versions {
  cursor: pointer;
}

footer dl.version {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.25rem 0.5rem;
  margin: 0;
}

footer dl.version dt {
  text-align: start;
  font-weight: normal;
}

footer dl.version dd {
  text-align: end;
  margin: 0;
}

footer .copyright {
  margin-top: 1rem;
}

footer a i.fa {
  margin-right: .4rem;
}

footer nav ul {
  padding: 0;
  margin: 0;
}

footer nav li {
  list-style: none;
}

.footer-logotype {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 0.5rem;
}
