.main {
  margin-bottom: 4rem;
}

.main > .container {
  margin: auto;
  padding: 0;
}

.main h1 {
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.info-banner {
  padding: 0.5rem;
  border-radius: 0;
}

.info-banner-content {
  margin: auto;
  max-width: 1320px;
}
