<section class="run-test">
    <ng-content></ng-content>
    <app-form
            [formProgression]="runTestProgression"
            [showProgressBar]="showProgressBar"
            [parentDataNS]="parentDataNS"
            [parentDataDS]="parentDataDS"
            [profiles]="profiles"
            [toggleFinished]="toggleFinished"
            [formError]="requestError"
            (onRunTest)="runTest($event)"
            (onFetchDataFromParent)="fetchFromParent($event)"
    ></app-form>
</section>
