.zm-article {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);

    @media screen and (min-width: 992px) {
        max-width: 80%;
    }

    .zm-article__inner {
        padding-bottom: var(--spacing-xl);
    }
}
