.zm-mobile-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    border: 0;
    padding: 0;
    font-size: var(--font-xl);
    line-height: 1;
    background-color: transparent;
    transform: scale(0.8);

    @media screen and (min-width: 576px) {
        transform: scale(1);
    }

    @media screen and (min-width: 769px) {
        display: none;
    }

    i {
        &::before {
            padding: 0;
            margin: 0;
        }
    }

    span {
        font-size: var(--font-s);
    }
}
