.zm-skip {
    position: relative;
    z-index: 1001;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        height: 0;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;

        &:focus {
            width: 100%;
            height: auto;
            padding-top: var(--rhythm);
            padding-bottom: var(--rhythm);
            background-color: var(--color-palette-black-90);
            color: var(--color-palette-white);
            text-align: center;
            text-indent: 0;
        }
    }
}
