.u-m-0 {
    margin: 0 !important;
}

.u-m-l-0 {
    margin-left: 0 !important;
}

.u-m-r-0 {
    margin-right: 0 !important;
}

.u-m-t-0 {
    margin-top: 0 !important;
}

.u-m-b-0 {
    margin-bottom: 0 !important;
}

.u-m-l-auto {
    margin-left: auto !important;
}

.u-m-r-auto {
    margin-right: auto !important;
}
