---
import ProgramVersions from '../../lib/components/ProgramVersions/ProgramVersions.svelte';
import Grid from '../../lib/components/Grid/Grid.svelte';
---

<footer class="zm-footer">
    <div class="container">
        <Grid client:load cols={2} gap="xs">
            <div class="zm-footer-program-versions">
                <ProgramVersions client:idle />
            </div>
            <div class="zm-footer-nav-container">
                <nav>
                    <ul class="zm-footer-nav">
                        <li>
                            <a href="mailto:contact@zonemaster.net"
                                ><i class="bi bi-envelope-fill"></i> contact@zonemaster.net</a
                            >
                        </li>
                        <li>
                            <a href="https://github.com/zonemaster/zonemaster"
                                ><i class="bi bi-github"></i> Source code</a
                            >
                        </li>
                        <li>
                            <a href="https://doc.zonemaster.net/"
                                ><i class="bi bi-file-text-fill"></i> Documentation</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
        </Grid>
    </div>
    <Grid client:load cols={1}>
        <div class="zm-footer-copyright">
            Copyright © AFNIC and The Swedish Internet Foundation. All Rights
            Reserved
        </div>
    </Grid>
</footer>
