---
import LanguageSwitcher from './LanguageSwitcher.astro';
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';
import MobileMenuButton from './MobileMenuButton.astro';
---

<header class="zm-header">
    <div class="container">
        <div class="zm-header__group">
            <Logo />
            <div class="zm-header__navigation-group" id="mainMenu">
                <Navigation />
                <LanguageSwitcher />
            </div>
            <MobileMenuButton />
        </div>
    </div>
</header>
