---
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import logo from '../../assets/images/zonemaster_logo_2021_color.svg';
import { languageTag } from '../../paraglide/runtime';

const currentLanguage = languageTag();
const homeUrl = getRelativeLocaleUrl(currentLanguage, '/');
---

<a href={homeUrl} class="zm-logo">
    <Image src={logo} alt="Zonemaster" height={48} loading="eager" />
</a>

<style>
    .zm-logo img {
        width: 150px;
        aspect-ratio: 594 / 149;

        @media screen and (min-width: 769px) {
            width: 191px;
        }

        @media screen and (min-width: 1200px) {
            width: 255px;
        }
    }
</style>
