:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    --zm-grey: #cdc7c2;
    --zm-green: #157347;

    --zm-header-light-bg: #ececec;
    --zm-header-dark-bg: var(--bs-dark);

    --zm-footer-light-color: var(--bs-body-color);
    --zm-footer-light-bg: #ffffff;
    --zm-footer-dark-color: var(--bs-light);
    --zm-footer-dark-bg: var(--bs-dark);

    --zm-body-light-bg: #ffffff;
    --zm-body-light-color: var(--bs-body-color);
    --zm-body-dark-bg: #2C3034;
    --zm-body-dark-color: var(--bs-light);

    --zm-link-dark-color: #5a9dff;
    --zm-link-dark-color-hover: #8ea5ff;

    --zm-form-btn-bg-1: #ff5a5f;
    --zm-form-btn-bg-2: #ff3c3a;
    --zm-form-error: #b51222;
    --zm-form-option-off: #cccccc;
    --zm-form-option-on: #2196f3;

    --zm-result-info-light: #157347;
    --zm-result-notice-light: #1069c8;
    --zm-result-warning-light-1: #ae5a01;
    --zm-result-warning-light-2: #ff9019;
    --zm-result-error-light: #bb2d3b;
    --zm-result-testcase-info-light-color: #555454;
    --zm-result-testcase-info-light-bg: #d3eeff;
    --zm-result-details-light-bg: #f7f7f7;
    --zm-result-filter-btn-light-bg: #919191;

    --zm-result-info-dark: #1ac474;
    --zm-result-notice-dark: #51aeff;
    --zm-result-warning-dark-1: #f48f25;
    --zm-result-warning-dark-2: #ff9019;
    --zm-result-error-dark: #fd8181;
    --zm-result-testcase-info-dark-color: #555454;
    --zm-result-testcase-info-dark-bg: #d3eeff;
    --zm-result-details-dark-bg: #313a43;
    --zm-result-filter-btn-dark-bg: #919191;

    /* default light theme*/
    --zm-body-bg: var(--zm-body-light-bg);
    --zm-body-color: var(--zm-body-light-color);

    --zm-header-bg: var(--zm-header-light-bg);

    --zm-footer-color: var(--zm-footer-light-color);
    --zm-footer-bg: var(--zm-footer-light-bg);

    --zm-result-info-color: var(--zm-result-info-light);
    --zm-result-info-bg: var(--zm-result-info-light);
    --zm-result-notice-color: var(--zm-result-notice-light);
    --zm-result-notice-bg: var(--zm-result-notice-light);
    --zm-result-warning-color: var(--zm-result-warning-light-1);
    --zm-result-warning-bg: var(--zm-result-warning-light-2);
    --zm-result-error-color: var(--zm-result-error-light);
    --zm-result-error-bg: var(--zm-result-error-light);
    --zm-result-critical-color: var(--zm-result-error-light);
    --zm-result-critical-bg: var(--zm-result-error-light);

    --zm-result-testcase-info-color: var(--zm-result-testcase-info-light-color);
    --zm-result-testcase-info-bg: var(--zm-result-testcase-info-light-bg);
    --zm-result-details-bg: var(--zm-result-details-light-bg);
    --zm-result-filter-btn-bg: var(--zm-result-filter-btn-light-bg);
}

#theme-switch:checked ~ main,
#theme-switch:checked ~ app-footer {
    --zm-body-bg: var(--zm-body-dark-bg);
    --zm-body-color: var(--zm-body-dark-color);

    --zm-header-bg: var(--zm-header-dark-bg);

    --zm-footer-color: var(--zm-footer-dark-color);
    --zm-footer-bg: var(--zm-footer-dark-bg);

    --zm-result-info-color: var(--zm-result-info-dark);
    --zm-result-info-bg: var(--zm-result-info-dark);
    --zm-result-notice-color: var(--zm-result-notice-dark);
    --zm-result-notice-bg: var(--zm-result-notice-dark);
    --zm-result-warning-color: var(--zm-result-warning-dark-1);
    --zm-result-warning-bg: var(--zm-result-warning-dark-2);
    --zm-result-error-color: var(--zm-result-error-dark);
    --zm-result-error-bg: var(--zm-result-error-dark);
    --zm-result-critical-color: var(--zm-result-error-dark);
    --zm-result-critical-bg: var(--zm-result-error-dark);

    --zm-result-testcase-info-color: var(--zm-result-testcase-info-dark-color);
    --zm-result-testcase-info-bg: var(--zm-result-testcase-info-dark-bg);
    --zm-result-details-bg: var(--zm-result-details-dark-bg);
    --zm-result-filter-btn-bg: var(--zm-result-filter-btn-dark-bg);
}

main {
    background-color: var(--zm-body-bg);
    color: var(--zm-body-color);
}
