:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    --zm-grey: #cdc7c2;
    --zm-green: #157347;

    --zm-header-light-bg: #ececec;

    --zm-body-light-bg: #ffffff;
    --zm-body-light-color: var(--bs-body-color);
    --zm-body-dark-bg: #2C3034;
    --zm-body-dark-color: var(--bs-light);

    --zm-form-btn-bg-1: #ff5a5f;
    --zm-form-btn-bg-2: #ff3c3a;
    --zm-form-error: #b51222;
    --zm-form-option-off: #cccccc;
    --zm-form-option-on: #2196f3;

    --zm-result-info-light: #157347;
    --zm-result-notice-light: #1069c8;
    --zm-result-warning-light-1: #ae5a01;
    --zm-result-warning-light-2: #ff9019;
    --zm-result-error-light: #bb2d3b;
    --zm-result-testcase-info-light-color: #555454;
    --zm-result-testcase-info-light-bg: #d3eeff;
    --zm-result-details-light-bg: #f7f7f7;
    --zm-result-filter-btn-light-bg: #919191;
}

main {
    background-color: var(--zm-body-dark-bg);
    color: var(--zm-body-dark-color);
}
