---
interface Props {
  gap?: 'xs' | 's' | 'm' | 'l' | 'xl' | 'xxl' | boolean;
  cols: 2 | 3 | 4 | 5 | 6;
}

const {
  gap,
  cols,
} = Astro.props;

const classList = [
  'grid',
  {gap: gap},
  {[`gap--${gap}`]: typeof gap === 'string'},
  { [`cols-${cols}`]: cols },
];
---
<div class:list={classList}>
  <slot />
</div>
<style>
  .grid {
    display: grid;
    gap: var(--gap);
  }

  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
</style>
