---
import LanguageSwitcher from '../lib/components/LanguageSwitcher/LanguageSwitcher.svelte';
import Logo from '../components/Logo.astro';
import Navigation from './Navigation.astro';
---
<header class="zm-header">
  <div class="container">
    <div class="zm-header-group">
      <Logo />
      <Navigation />
    </div>
    <LanguageSwitcher client:load />
  </div>
</header>

<style>
  .zm-header {
    background-color: var(--color-paper);
    height: var(--site-header-height);
  }

  .zm-header-group {
    display: flex;
    align-items: center;
    gap: var(--spacing-default);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
</style>
