---
import * as m from "../paraglide/messages.js";
import DomainTest from '../lib/components/DomainTest/DomainTest.svelte';
---

<h1 class="container zm-u-align-center">{m.startTestTitle()}</h1>
<section class="zm-run-test rhythm">
  <h2 id="testInputHeading">{m.runTestTitle()}</h2>
  <DomainTest client:load />
</section>

<style>
  .zm-run-test {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 992px) {
      width: 80%;
    }
  }
</style>
