/* Hide but not from screen readers */
.zm-u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Hide for all */
.zm-u-hide {
    display: none !important;
}
