.u-m-0 {
    margin: 0;
}

.u-m-l-0 {
    margin-left: 0;
}

.u-m-r-0 {
    margin-right: 0;
}

.u-m-t-0 {
    margin-top: 0;
}

.u-m-b-0 {
    margin-bottom: 0;
}

.u-m-l-auto {
    margin-left: auto;
}

.u-m-r-auto {
    margin-right: auto;
}

.u-m-x-auto {
    margin-left: auto;
    margin-right: auto;
}
