<div class="container-fluid">
  <div class="row mb-2">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-secondary"
        [class.active]="filter === 'all'"
        (click)="filterHistory('all')">
        {{ 'All' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        [class.active]="filter === 'delegated'"
        (click)="filterHistory('delegated')">
        {{ 'DELEGATED_PLURAL' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        [class.active]="filter === 'undelegated'"
        (click)="filterHistory('undelegated')">
        {{ 'UNDELEGATED_PLURAL' | translate }}
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngIf="filteredHistory.length > 0;else noHistory" class="list-group w-100">
      <div *ngFor="let item of historyItems" class="list-group-item list-group-item-action list-group-item-{{item.color}}">
        <div class="d-flex w-100 justify-content-between">
          <a routerLink="/result/{{item.id}}">
            {{ item.local_creation_time | date:'yyyy-MM-dd HH:mm zzzz' }}
          </a>
          <small *ngIf="item.undelegated" class="text-muted">{{ 'UNDELEGATED_SINGULAR' | translate }}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <ngb-pagination class="m-auto"
                    *ngIf="filteredHistory.length > 1"
                    [collectionSize]="filteredHistory.length"
                    [(page)]="page"
                    [rotate]="true"
                    [maxSize]="3"
                    [pageSize]="pageSize"
                    [boundaryLinks]="true"
                    (pageChange)="setItemsByPage(page)">
    </ngb-pagination>
  </div>
</div>

<ng-template #noHistory>
  <p class="text-dark">{{"Results from previous tests are not available"|translate}}</p>
</ng-template>
