
<div class="row" *ngIf="is_advanced_options_enabled">
  <div class="text-center m-auto info-notice">
    <div class="alert alert-info">
      <span i18n>Notice! More info on undelegated test</span>
      <br>
      <a routerLink="/faq" fragment="q12" i18n>What is an undelegated domain test?</a>
    </div>
  </div>
</div>
<app-form [isAdvancedOptionsEnabled]="is_advanced_options_enabled"
          [domainTestProgression]="domain_check_progression"
          [showProgressBar]="showProgressBar"
          [parentDataNS]="parentDataNS"
          [parentDataDS]="parentDataDS"
          [profiles]="profiles"
          [toggleFinished]="toggleFinished"
          [formError]="requestError"
          (onDomainCheck)="domainCheck($event)"
          (onFetchDataFromParent)="fetchFromParent($event)"
          (onOpenOptions)="openOptions($event)"

></app-form>
