<IfModule mod_rewrite.c>
  Options Indexes FollowSymLinks
  RewriteEngine On
  RewriteBase /

# If an existing asset or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
  RewriteRule ^ /index.html
</IfModule>
