@import "~bootstrap/scss/bootstrap";

html, body {
  margin:0;
  padding:0;
}

.main h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.progress {
  height: 64px !important;
  opacity: .3;
}

.pagination {
  justify-content: center;
}
