@import "~bootstrap/scss/bootstrap";

html, body {
  margin:0;
  padding:0;
}

body {
  line-height: 1.6;
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

main {
  margin: 4rem auto;
}

:root {
  --primary-color-lighter: #edebff;
  --primary-color-lighter-hover: #f9f8ff;
  --primary-color-light: #b2aafb;
  --primary-color-light-rgb: 178, 170, 251;
  --primary-color: #7255d9;
  --primary-color-rgb: 114, 85, 217;
  --primary-color-dark: #593fb7;

  --secondary-color-light: #f7f7f7;
  --secondary-color: #e8e8e8;
  --secondary-color-dark: #c6c6c6;
  --secondary-color-darker: #848484;

  --outline-focus-color: #ff8a47;
  --link-color: #2d258e;
  --link-color-hover: var(--primary-color-dark);
}

*:focus-visible {
  outline: .3rem solid var(--outline-focus-color);
}

button:focus-visible,
button.btn:focus-visible {
  outline: 0;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--outline-focus-color);
}

.form-check-input.is-invalid:focus,
.form-control.is-invalid:focus,
.form-select.is-invalid:focus,
.form-select:focus,
.form-check-input:focus,
.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--outline-focus-color)
}

.btn.btn-primary {
  --bs-btn-disabled-bg: var(--primary-color-dark);
  --bs-btn-disabled-border-color: var(--primary-color-dark);

  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-hover-bg: var(--primary-color-dark);

  --bs-btn-border-color: var(--primary-color-dark);
  --bs-btn-bg: var(--primary-color);
}

.btn.btn-secondary {
  --bs-btn-color: inherited;
  --bs-btn-bg: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color-dark);

  --bs-btn-hover-color: inherited;
  --bs-btn-hover-bg: var(--secondary-color-light);
  --bs-btn-hover-border-color: var(--secondary-color-dark);
}

.btn.btn-danger {
  --bs-btn-color: inherited;
  --bs-btn-bg: #ffc2c8;
  --bs-btn-border-color: #ff8d98;

  --bs-btn-hover-color: inherited;
  --bs-btn-hover-bg: #ffe1e3;
  --bs-btn-hover-border-color: #ff8d98;
}

footer .tooltip {
  --bs-tooltip-max-width: auto;
}

.pagination {
  justify-content: center;
}


.faq-question,
details {
  margin-bottom: 0.5rem;
}

.faq-question header,
details summary {
  transition: .3s background;
  list-style: none;
  margin: 0;
  background-color: var(--primary-color-lighter);
  border: 1px solid var(--primary-color-light);
  padding: .75em .75em;
  border-radius: .5em;
  display: flex;
  align-items: center;
}

.faq-question header *,
details summary * {
  margin: 0;
}

.faq-question:not(.open) header ~ * {
  display: none;
}

.faq-question.open header,
.faq-question header:hover,
.faq-question header:focus-within,
details[open] summary,
details summary:hover,
details summary:focus {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-lighter-hover);
}

.faq-question header .control,
details summary .control {
  margin-right: 1em;
  transform: rotate(0);
  transition: 0.1s transform;
}

.faq-question.open header,
details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.faq-question.open header ~ *,
details[open] summary ~ * {
  padding: .5em .75em;
  background-color: var(--primary-color-lighter);
  border: 1px solid var(--primary-color-light);
  border-radius: .5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.faq-question.open header .control,
details[open] summary .control {
  transform: rotate(90deg);
}

h2 {
  display: inline-block;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: calc(1.2rem + 0.5vw);
}

a.nav-link {
  color: rgba(0, 0, 0, .7);
}

.link,
a {
  color: var(--link-color);
  text-decoration: underline;
}

.link:hover,
a:hover {
  color: var(--link-color-hover);
}
@media(min-width:1200px) {
  .about h3 {
      font-size: 1.5rem;
  }
}
