@import "~bootstrap/scss/bootstrap";

html, body {
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

main {
  flex-grow: 2;
}

.main h1 {
  margin: 0;
  font-size: 3em;
}

footer .tooltip {
  --bs-tooltip-max-width: auto;
}

.pagination {
  justify-content: center;
}

.btn.active:focus-visible,
.btn:focus-visible {
  outline: auto;
  box-shadow: none;
}
