---
import { languageTag } from "../paraglide/runtime";
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import '../styles/site.css';
---
<!doctype html>
<html lang={languageTag()} dir={Astro.locals.paraglide.dir}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header />
    <Content>
      <slot />
    </Content>
	</body>
</html>
