<div class="container-fuild">
  <div class="row mb-1">
    <div class="col-sm-10 offset-sm-1 text-center">
      <h1>{{'Domain name'|translate}}</h1>
      <div class="info-form">
        <form class="form-inline domain mb-2">
          <div class="input-group mb-2">
            <span class="form-ckeck-group input-group">
              <input type="text"
                   class="form-control form-control-lg"
                   id="domain_check_name"
                   name="domain_check_name"
                   [(ngModel)]="form.domain"
                   (keypress)="($event.which === 13)? runDomainCheck() : 0"
                   placeholder="{{'Domain name'|translate}}"
                   required>

              <p class="reset-form d-none d-sm-block" *ngIf="form.domain.length > 0 && !showProgressBar" >
                <button
                  (click)="resetDomainForm();"
                  type="button"
                  class="btn grey"><i class="fa fa-2x fa-times-circle"></i></button>
              </p>

            </span>
            <p class="progress-result d-none d-sm-block" *ngIf="showProgressBar">
              <ngb-progressbar
                type="info"
                [value]="domain_check_progression"
                [striped]="true"
                [animated]="true"
              >
                <span class="progress-value">{{domain_check_progression}}%</span>
              </ngb-progressbar>
            </p>
              <button title="{{'Run test'|translate}}"
                      (click)="runDomainCheck();"
                      class="launch ml-2 btn btn-lg text-white"
                      type="button"
                      [disabled]="showProgressBar || disable_check_button">
                Check
              </button>
          </div>

          <p class="progress-result d-sm-none" *ngIf="showProgressBar">
            <!-- Progress Bar for extra small devices -->
            <ngb-progressbar
              type="info"
              [value]="domain_check_progression"
              [striped]="true"
              [animated]="true"
            >
              <span class="progress-value">{{domain_check_progression}}%</span>
            </ngb-progressbar>
          </p>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="advanced">
      <label class="d-flex" for="advanced_checkbox">
      <span class="switch">
          <input type="checkbox" name="advanced_checkbox" id="advanced_checkbox" (change)="toggleOptions()" [ngModel]="is_advanced_options_enabled">
          <span class="slider round"></span>
        </span>
        <p class="ml-1 pt-1">{{'Options'|translate}}</p>
      </label>

      <div *ngIf="is_advanced_options_enabled">
             <span [formGroup]="checkboxForm" class=" half-with">
              <span class="options d-flex" [formArrayName]="'items'" [class.invalid]="!checkboxForm['controls'].selectedItems.valid">
                <span *ngFor="let protocol of checkboxForm['controls'].items['controls']; let i = index;"
                     [formGroup]="protocol"
                     [ngClass]="{'has-error': !checkboxForm['controls'].selectedItems.valid}"
                     class="form-check form-check-inline">

                  <input type="checkbox" class="form-check-input" type="checkbox" formControlName="checked" id="protocol_{{ protocol.controls.key.value }}">
                  <label class="custom-control custom-checkbox form-check-label" attr.for="protocol_{{ protocol.controls.key.value }}">
                    {{ protocol.controls.value.value }}
                  </label>
                </span>
              </span>
            </span>
          <div class="alert alert-danger" role="alert" [class.invalid]="!checkboxForm.controls.selectedItems.valid" *ngIf="!checkboxForm.controls.selectedItems.valid">
            {{"Choose at least one protocol" | translate}}
          </div>
          <hr>
          <h4 class="d-inline">Profil</h4>
            <select [(ngModel)]="form.profile" class="form-control half-with" name="form.profile">
              <option *ngFor="let profile of profiles" [value]="profile" [selected]="form.profile == profile">{{profile}}</option>
            </select>
          <hr>

          <h4 class="d-inline">{{'Nameservers'|translate}}</h4>
          <form [formGroup]="NSForm" class="form-inline nameservers">
            <div formArrayName="itemRows">
              <div class="nsForm" *ngFor="let itemrow of NSForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
                <input formControlName="ns" name='form.ns' class="form-control" placeholder="NS">
                <input formControlName="ip" name='form.ip' class="form-control" placeholder="IP">
                <button (click)="deleteRow('NSForm', i)"
                        class="btn btn-danger ">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button *ngIf="NSForm.controls.itemRows.controls.length <= 1 || i == NSForm.controls.itemRows.controls.length - 1"
                        type="button"
                        (click)="addNewRow('NSForm')"
                        class="btn btn-success">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
          <hr>

          <h4 class="d-inline">{{'Digests'|translate}}</h4>
          <form [formGroup]="digestForm" class="form-inline digests">
            <div formArrayName="itemRows">
              <div class="nsForm" *ngFor="let itemrow of digestForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
                <input formControlName="keytag" class="form-control" name="form.keytag" placeholder="Key tag">
                <select formControlName="algorithm" class="form-control" name="form.algorithm">
                  <option [value]="3">DSA/SHA1</option>
                  <option [value]="5">RSA/SHA1</option>
                  <option [value]="6">DSA-NSEC3-SHA1</option>
                  <option [value]="7">RSASHA1-NSEC3-SHA1</option>
                  <option [value]="8">RSA/SHA-256</option>
                  <option [value]="10">RSA/SHA-512</option>
                  <option [value]="12">ECC-GOST</option>
                  <option [value]="13">ECDSAP256SHA256</option>
                  <option [value]="14">ECDSAP384SHA384</option>
                </select>
                <select formControlName="digtype" class="form-control" name="form.digtype">
                  <option [value]="1">SHA-1</option>
                  <option [value]="2">SHA-256</option>
                  <option [value]="3">GOST R 34.11-94</option>
                  <option [value]="4">SHA-384</option>
                </select>
                <input formControlName="digest" class="form-control" name="digest" placeholder="Digest">
                <button
                        (click)="deleteRow('digestForm',i)"
                        class="btn btn-danger ">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button *ngIf="digestForm.controls.itemRows.controls.length <= 1 || i == digestForm.controls.itemRows.controls.length - 1"
                        type="button"
                        (click)="addNewRow('digestForm')"
                        class="btn btn-success">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
          <br>
        <button class="btn btn-secondary fetchDataFromParent" (click)="displayDataFromParent()">{{'Fetch data from parent zone'|translate}}</button>
        <button class="btn btn-danger resetFullForm" (click)="resetFullForm()">{{'Reset'|translate}}</button>

      </div>
    </div>
  </div>
</div>
