.fa-play-circle-o:hover {
    color: #fff;
}

.fa-play-circle-o {
    color: #9ad;
}

.input-group {
    width: 100%;
}

#domain_check_name {
    font-size: 16px;
    height: 64px;
    color: #6f787e;
    border-radius: 3px;
}

.checkboxForm {
    width: 100%;
}

.half-with {
    width: 50%;
}

button.launch {
    background-color: #ff5a5f;
}
button.launch:hover {
    background-color: #ff3c3a;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.advanced input:checked + .slider {
    background-color: #2196f3;
}

.advanced input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.advanced input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.advanced {
    margin-left: 6.7rem;
    text-align: left;
}

.form-ckeck-group {
    width: 85%;
}

.reset-form {
    position: absolute;
    right: 0;
    top: 15%;
    opacity: 0.5;
    z-index: 100;
}

.reset-form:hover {
    opacity: 1;
}

.grey {
    color: grey;
}

.progress-value {
    display: block;
    color: #000;
    position: absolute;
    right: 10px;
}

.progress-result {
    position: relative;
}
@media (min-width: 576px) {
    .progress-result {
        position: absolute;
        z-index: 20;
        width: 20.1rem;
    }
    .progress-value {
        display: block;
        color: #000;
        position: absolute;
        right: 10px;
        font-size: 30px;
    }
    .checkboxForm {
        width: inherit;
    }
}
@media (min-width: 768px) {
    .progress-result {
        width: 85%;
    }
}

.nsForm {
    margin-bottom: 5px;
}

.has-error {
    color: red;
}
