form.domain {
  background-color: var(--primary-color-lighter);
  border: 1px solid var(--primary-color-light);
  border-radius: 1rem;
  padding: 4rem;
  width: 80%;
  margin: auto;
}

.domain .domain-input-group {
  display: flex;
  margin-bottom: 1em;
}

.domain .domain-form-container > label {
  font-size: 1.25rem;
}

#input_domain_form {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.domain button.launch {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* The switch - the box around the slider */
.domain .switch-input-container {
  display: flex;
  align-items: center;
}

#advanced-options .form-label {
  margin-bottom: 0;
}

#advanced-options > fieldset:first-of-type {
  margin-top: 1rem;
}

#advanced-options > fieldset:last-of-type {
  margin-bottom: 1rem;
}

.domain fieldset fieldset legend {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: normal;
}

.domain form .protocol {
  padding-top: 0.375rem;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.domain .switch-input-container label {
  margin: 0;
}

.domain button.switch-toggle {
  border: none;
  width: 2em;
  background-color: var(--secondary-color-dark);
  display: inherit;
  height: 1em;
  border-radius: 2em;
  border: 1px solid var(--secondary-color-darker);
  font-size: 2em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-position: left center;
  transition: all .25s ease-in-out;
  margin-right: 0.2em;
  cursor: pointer;
}


.domain button.switch-toggle:focus-visible,
.domain button.switch-toggle:hover {
  background-color: var(--secondary-color-darker);
}

.domain button.switch-toggle.enabled:focus-visible,
.domain button.switch-toggle.enabled:hover {
  background-color: var(--primary-color-dark);
}

.domain button.switch-toggle:focus-visible {
  border-color: var(--primary-color);
}

.domain button.switch-toggle.enabled {
  background-position: right center;
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
}

.domain .advanced {
  text-align: left;
}

.domain .is-invalid label {
  color: #b51222!important;
}

.domain .invalid-feedback {
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: #b51222;
  border-radius: 0.25rem;
  text-align: left;
}

.domain .row {
  --bs-gutter-x: 0.5rem;
}

.domain .reset-form {
  position: absolute;
  top: calc(0.5em + 1px);
  z-index: 100;
  right: 0.5rem;
}

.domain .reset-form button:not(:disabled):hover {
  opacity: 1;
}

.domain .reset-form button {
  border: none;
  opacity: 0.5;
  padding: 0;
}

.domain .grey {
  color: grey;
}

.domain .domain-input-container {
  position: relative;
  flex: 1;
}
.domain .progress-value {
  display: block;
  color: #000;
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}

.domain .progress-result {
  width: calc(100% - var(--bs-gutter-x));
  position: absolute;
  z-index: 20;
  top: 0;
}

.domain .checkboxForm {
  width: inherit;
}

.domain .info-notice {
  width: auto;
  text-align: center;
  margin: 1rem auto 0 auto;
  display: flex;
  align-items: center;

}

@media(max-width:767px){
  .domain fieldset .form-col:not(:first-child) {
    margin-top: 0.5rem;
  }

  form.domain {
    padding: 1.5rem;
  }
}

@media(max-width:991px) {
  form.domain {
    width: 100%;
  }
}

.domain button.delete {
  font-size: calc(1.5rem - 2px);
  padding: .0rem .5rem;
  border: none;
  border: 1px solid transparent;
}

.domain button.delete:focus-visible,
.domain button.delete:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--outline-focus-color);
}

hr {
  opacity: 1;
  border-color: var(--primary-color-light);
}
