<form class="domain mb-2" (ngSubmit)="submitForm();" [formGroup]="form">
  <div class="domain-form-container">
    <label i18n="form label" for="domain-input">Domain name</label>
    <div class="domain-input-container">
      <input #domainInput type="text"
          class="form-control form-control-lg"
          [class.is-invalid]="domain.invalid && (domain.dirty || domain.touched)"
          [attr.aria-invalid]="domain.invalid && (domain.dirty || domain.touched)"
          id="domain-input"
          formControlName="domain"
          aria-describedby="domain-error-required domain-error-server"
          aria-required="true"
        >
      <div id="domain-error-required" class="invalid-feedback" *ngIf="(domain.dirty || domain.touched) && domain.errors?.required" i18n="form error">Domain name required</div>

      <div id="domain-error-server" class="invalid-feedback" *ngIf="domain.errors?.serverError" >
        {{ domain.errors.serverError }}
      </div>

      <div class="reset-form d-none d-sm-block" *ngIf="domain.value.length > 0 && !showProgressBar" >
        <button
          [disabled]="form.disabled"
          (click)="resetForm();"
          type="button"
          i18n-title="form button"
          title="Clear domain input"
          class="btn grey">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>

      <div class="progress-result d-block" *ngIf="showProgressBar">
        <ngb-progressbar
          type="info"
          [value]="formProgression"
          [striped]="true"
          [animated]="true"
        >
          <span class="progress-value">{{formProgression}}%</span>
        </ngb-progressbar>
      </div>
    </div>
  </div>
  <div class="row advanced">
    <details id="advanced-options">
      <summary id="advanced-toggle">
        <i class="fa fa-caret-right control" aria-hidden="true"></i>
        <span i18n="form options" class="closed-label">Show options</span>
        <span i18n="form options" class="opened-label">Hide options</span>
      </summary>

      <aside class="row">
        <div class="info-notice alert alert-light">
          <i class="fa fa-2x fa-info-circle me-3" aria-hidden="true"></i>
          <div>
            <span i18n="form info">More information on undelegated test: </span>
            <a routerLink="/faq" fragment="what-is-an-undelegated-domain-test" class="alert-link" i18n="form info">What is an undelegated domain test?</a>
          </div>
        </div>
      </aside>

      <fieldset #nameserversForm>
        <legend i18n="form section">Nameservers</legend>

        <div class="form-section nameservers" formArrayName="nameservers">
          <fieldset *ngFor="let nameserver of nameserversArray.controls; let i=index" [formGroupName]="i">
            <legend i18n="form section">Nameserver #{{ i + 1}}</legend>
            <div class="form-input-group">
              <label for="nameservers-{{i}}-ns-input" i18n="form label">Name</label>
              <div>
                <input
                  id="nameservers-{{i}}-ns-input"
                  [attr.aria-describedby]="'nameservers-' + i + '-ns-error-required nameservers-' + i + '-ns-error-server'"
                  formControlName="ns"
                  class="form-control"
                  i18n-title="form label"
                  title="Name of nameserver #{{i + 1}}"
                  [class.is-invalid]="nameserver.controls.ns.invalid && (nameserver.controls.ns.dirty || nameserver.controls.ns.touched)"
                  [attr.aria-invalid]="nameserver.controls.ns.invalid && (nameserver.controls.ns.dirty || nameserver.controls.ns.touched)"
                >
                <div id="nameservers-{{i}}-ns-error-server" class="invalid-feedback" *ngIf="nameserver.controls.ns.errors?.serverError" >
                  {{ nameserver.controls.ns.errors.serverError }}
                </div>
                <div id="nameservers-{{i}}-ns-error-required" class="invalid-feedback" *ngIf="(nameserver.controls.ns.dirty || nameserver.controls.ns.touched) && nameserver.controls.ns.errors?.required" >
                  <ng-container i18n="form error">The name of nameserver is required</ng-container>
                </div>
              </div>

              <label for="nameservers-{{i}}-ip-input">
                <ng-container i18n="form label">Address</ng-container>&nbsp;<small i18n="form info">(optional)</small>
              </label>
              <div>
                <input
                  id="nameservers-{{i}}-ip-input"
                  [attr.aria-describedby]="'nameservers-' + i + '-ip-error-server'"
                  formControlName="ip"
                  class="form-control"
                  i18n-title="form label"
                  title="Address of nameserver #{{i + 1}}"
                  [class.is-invalid]="nameserver.controls.ip.invalid && (nameserver.controls.ip.dirty || nameserver.controls.ip.touched)"
                  [attr.aria-invalid]="nameserver.controls.ip.invalid && (nameserver.controls.ip.dirty || nameserver.controls.ip.touched)"
                >
                <div id="nameservers-{{i}}-ip-error-server" class="invalid-feedback" *ngIf="nameserver.controls.ip.errors?.serverError" >
                  {{ nameserver.controls.ip.errors.serverError }}
                </div>
              </div>
            </div>

            <div class="delete-button-container">
              <button
                type="button"
                (click)="deleteRow('nameservers', i)"
                class="btn delete"
                i18n-title="form button"
                title="Delete nameserver #{{i + 1}}"
                [disabled]="form.disabled"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </fieldset>

        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="fetchDataFromParent('NS')" i18n="form button" [disabled]="form.disabled">Fetch nameservers from parent zone</button>
        </div>
      </fieldset>

      <hr>

      <fieldset #dsInfoForm>
        <legend i18n="form section">DS records</legend>
        <div class="form-section ds-records" formArrayName="ds_info">
          <fieldset *ngFor="let ds_info of dsInfoArray.controls; let i=index" [formGroupName]="i">
            <legend i18n="form section">DS record #{{ i + 1}}</legend>
            <div class="form-input-group">
              <label for="ds_info-{{i}}-keytag-input" i18n="form label">Keytag</label>
              <div>
                <input
                  inputmode="numeric"
                  pattern="\d*"
                  id="ds_info-{{i}}-keytag-input"
                  [attr.aria-describedby]="'ds_info-' + i + '-keytag-error-required ds_info-' + i + '-keytag-error-pattern ds_info-' + i + '-keytag-error-server'"
                  formControlName="keytag"
                  class="form-control"
                  i18n-title="form label"
                  title="Key tag of DS record #{{i + 1}}"
                  [class.is-invalid]="ds_info.controls.keytag.invalid && (ds_info.controls.keytag.dirty || ds_info.controls.keytag.touched)"
                  [attr.aria-invalid]="ds_info.controls.keytag.invalid && (ds_info.controls.keytag.dirty || ds_info.controls.keytag.touched)"
                >
                <div id="ds_info-{{i}}-keytag-error-server" class="invalid-feedback" *ngIf="ds_info.controls.keytag.errors?.serverError" >
                  {{ ds_info.controls.keytag.errors.serverError }}
                </div>
                <div id="ds_info-{{i}}-keytag-error-required" class="invalid-feedback" *ngIf="(ds_info.controls.keytag.dirty || ds_info.controls.keytag.touched) && ds_info.controls.keytag.errors?.required" >
                  <ng-container i18n="form error">Keytag required</ng-container>
                </div>
                <div id="ds_info-{{i}}-keytag-error-pattern" class="invalid-feedback" *ngIf="(ds_info.controls.keytag.dirty || ds_info.controls.keytag.touched) && ds_info.controls.keytag.errors?.pattern" >
                  <ng-container i18n="form error">The keytag must be a positive integer between 0 and 65535</ng-container>
                </div>
              </div>

              <label id="ds_info-{{i}}-algorithm-label" for="ds_info-{{i}}-algorithm-input" i18n="form label">Algorithm</label>
              <div>
                <select
                  id="ds_info-{{i}}-algorithm-input"
                  [attr.aria-describedby]="'ds_info-' + i + '-algorithm-error-required ds_info-' + i + '-algorithm-error-server'"
                  formControlName="algorithm"
                  class="form-select"
                  i18n-title="form label"
                  title="Algorithm of DS record #{{i + 1}}"
                  [class.is-invalid]="ds_info.controls.algorithm.invalid && (ds_info.controls.algorithm.dirty || ds_info.controls.algorithm.touched)"
                  [attr.aria-invalid]="ds_info.controls.algorithm.invalid && (ds_info.controls.algorithm.dirty || ds_info.controls.algorithm.touched)"
                >
                  <option [value]="1">1 - RSAMD5</option>
                  <option [value]="3">3 - DSA</option>
                  <option [value]="5">5 - RSASHA1</option>
                  <option [value]="6">6 - DSA-NSEC3-SHA1</option>
                  <option [value]="7">7 - RSASHA1-NSEC3-SHA1</option>
                  <option [value]="8">8 - RSASHA256</option>
                  <option [value]="10">10 - RSASHA512</option>
                  <option [value]="12">12 - ECC-GOST</option>
                  <option [value]="13">13 - ECDSAP256SHA256</option>
                  <option [value]="14">14 - ECDSAP384SHA384</option>
                  <option [value]="15">15 - ED25519</option>
                  <option [value]="16">16 - ED448</option>
                </select>
                <div id="ds_info-{{i}}-algorithm-error-server" class="invalid-feedback" *ngIf="ds_info.controls.algorithm.errors?.serverError" >
                  {{ ds_info.controls.algorithm.errors.serverError }}
                </div>
                <div id="ds_info-{{i}}-algorithm-error-required" class="invalid-feedback" *ngIf="(ds_info.controls.algorithm.dirty || ds_info.controls.algorithm.touched) && ds_info.controls.algorithm.errors?.required" >
                  <ng-container i18n="form error">Algorithm required</ng-container>
                </div>
              </div>

              <label for="ds_info-{{i}}-digtype-input" i18n="form label">Digest type</label>
              <div>
                <select
                  id="ds_info-{{i}}-digtype-input"
                  [attr.aria-describedby]="'ds_info-' + i + '-digtype-error-required ds_info-' + i + '-digtype-error-server'"
                  formControlName="digtype"
                  class="form-select"
                  i18n-title="form label"
                  title="Digest type of DS record #{{i + 1}}"
                  [class.is-invalid]="ds_info.controls.digtype.invalid && (ds_info.controls.digtype.dirty || ds_info.controls.digtype.touched)"
                  [attr.aria-invalid]="ds_info.controls.digtype.invalid && (ds_info.controls.digtype.dirty || ds_info.controls.digtype.touched)"
                >
                  <option [value]="1">1 - SHA-1</option>
                  <option [value]="2">2 - SHA-256</option>
                  <option [value]="3">3 - GOST R 34.11-94</option>
                  <option [value]="4">4 - SHA-384</option>
                </select>
                <div id="ds_info-{{i}}-digtype-error-server" class="invalid-feedback" *ngIf="ds_info.controls.digtype.errors?.serverError" >
                  {{ ds_info.controls.digtype.errors.serverError }}
                </div>
                <div id="ds_info-{{i}}-digtype-error-required" class="invalid-feedback" *ngIf="(ds_info.controls.digtype.dirty || ds_info.controls.digtype.touched) && ds_info.controls.digtype.errors?.required" >
                  <ng-container i18n="form error">Digest type required</ng-container>
                </div>
              </div>

              <label for="ds_info-{{i}}-digest-input" i18n="form label">Digest</label>
              <div>
                <input
                  id="ds_info-{{i}}-digest-input"
                  [attr.aria-describedby]="'ds_info-' + i + '-digest-error-required ds_info-' + i + '-digest-error-server'"
                  formControlName="digest"
                  class="form-control"
                  i18n-title="form label"
                  title="Digest of DS record #{{i + 1}}"
                  [class.is-invalid]="ds_info.controls.digest.invalid && (ds_info.controls.digest.dirty || ds_info.controls.digest.touched)"
                  [attr.aria-invalid]="ds_info.controls.digest.invalid && (ds_info.controls.digest.dirty || ds_info.controls.digest.touched)"
                >
                <div id="ds_info-{{i}}-digest-error-server" class="invalid-feedback" *ngIf="ds_info.controls.digest.errors?.serverError" >
                  {{ ds_info.controls.digest.errors.serverError }}
                </div>
                <div id="ds_info-{{i}}-digest-error-required" class="invalid-feedback" *ngIf="(ds_info.controls.digest.dirty || ds_info.controls.digest.touched) && ds_info.controls.digest.errors?.required" >
                  <ng-container i18n="form error">Digest required</ng-container>
                </div>
              </div>
            </div>

            <div class="delete-button-container">
              <button
                type="button"
                (click)="deleteRow('ds_info',i)"
                class="btn delete"
                i18n-title="form button"
                title="Delete DS record #{{i + 1}}"
                [disabled]="form.disabled"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>

          </fieldset>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="fetchDataFromParent('DS')" i18n="form button" [disabled]="form.disabled">Fetch DS from parent zone</button>
        </div>
      </fieldset>

      <hr>

      <fieldset>
        <legend i18n="form section">General</legend>
        <div class="row">
          <fieldset aria-describedby="protocol-error" class="col-md">
            <legend class="sr-only" i18n="form section">Protocol</legend>
            <div class="col-form-label" [class.is-invalid]="form.errors?.noProtocol">
              <div class="custom-control form-check form-check-inline">
                <input
                  aria-describedby="protocol-error"
                  type="checkbox"
                  class="form-check-input"
                  formControlName="disable_ipv4"
                  id="disable_protocol_ipv4"
                  [class.is-invalid]="form.errors?.noProtocol || form.controls.disable_ipv4.invalid"
                  [attr.aria-invalid]="form.errors?.noProtocol || form.controls.disable_ipv4.invalid"
                >
                <label i18n="form label" class="form-check-label" for="disable_protocol_ipv4">Disable IPv4</label>
              </div>
              <div class="custom-control form-check form-check-inline">
                <input
                  aria-describedby="protocol-error"
                  type="checkbox"
                  class="form-check-input"
                  formControlName="disable_ipv6"
                  id="disable_protocol_ipv6"
                  [class.is-invalid]="form.errors?.noProtocol || form.controls.disable_ipv6.invalid"
                  [attr.aria-invalid]="form.errors?.noProtocol || form.controls.disable_ipv6.invalid"
                >
                <label i18n="form label" class="form-check-label" for="disable_protocol_ipv6">Disable IPv6</label>
              </div>
            </div>
            <div id="protocol-error" class="invalid-feedback" *ngIf="form.errors?.noProtocol">
              <ng-container i18n="form error">Cannot disable both IPv4 and IPv6</ng-container>
            </div>
          </fieldset>


          <div class="col-md" *ngIf="profiles.length > 1">
            <div class="row">
              <div class="col-auto">
                <label for="profile" class="col-form-label" i18n="form label">Profile</label>
              </div>
              <div class="col-auto flex-grow-1">
                <select
                  class="form-select"
                  formControlName="profile"
                  id="profile"
                  aria-describedby="profile-error"
                  aria-required="true"
                  [class.is-invalid]="form.controls.profile.invalid"
                  [attr.aria-invalid]="form.controls.profile.invalid"
                >
                  <option *ngFor="let profile of profiles" [value]="profile">{{profile}}</option>
                </select>
                <div id="profile-error" class="invalid-feedback" *ngIf="form.controls.profile.errors?.serverError" >
                  {{ form.controls.profile.errors.serverError }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn btn-danger resetFullForm" (click)="resetFullForm()" i18n="form button" [disabled]="form.disabled">Reset the form</button>
        </div>
      </div>

    </details>
  </div>
  <div class="row launch-test">
    <div class="col text-center">
      <button i18n="form button" class="launch btn-primary btn btn-lg" type="submit" [disabled]="form.disabled">Run the test</button>
    </div>
  </div>
</form>
