#input_domain_form {
  font-size:16px;
  height:64px;
  border-radius:3px
}

button.launch {
  background-color: #FF5A5F;
  height: 64px;
}
button.launch:hover {
  background-color: #ff3c3a;
}

/* The switch - the box around the slider */
.switch-input-container {
  display: flex;
  align-items: center;
}

#advanced-options .form-label {
  margin-bottom: 0;
}

#advanced-options > fieldset:first-of-type {
  margin-top: 1rem;
}

#advanced-options > fieldset:last-of-type {
  margin-bottom: 1rem;
}

fieldset fieldset legend {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: normal;
}

form .protocol {
  padding-top: 0.375rem;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.switch-input-container label {
  margin: 0;
}

button.switch-toggle {
  border: none;
  width: 2em;
  background-color: #ccc;
  display: inherit;
  height: 1em;
  border-radius: 2em;
  font-size: 2em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-position: left center;
  transition: all .25s ease-in-out;
  margin-right: 0.2em;
  cursor: pointer;
}

button.switch-toggle.enabled {
  background-position: right center;
  background-color: #2196f3;
}

.advanced {
  text-align: left;
}

.is-invalid label {
  color: #b51222!important;
}

.domain .invalid-feedback {
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: #b51222;
  border-radius: 0.25rem;
  text-align: left;
}

.domain .row {
  --bs-gutter-x: 0.5rem;
}

.reset-form {
  position: absolute;
  right: 0;
  top: 15%;
  z-index: 100;
  right: 0.5rem;
}

.reset-form button:not(:disabled):hover {
  opacity: 1;
}

.reset-form button {
  border: none;
  opacity: 0.5;
}

.grey {
  color: grey;
}

.domain-input-container {
  position: relative;
}
.progress-value {
  display: block;
  color: #000;
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}

.progress-result {
  width: calc(100% - var(--bs-gutter-x));
  position: absolute;
  z-index: 20;
  top: 0;
}

.checkboxForm {
  width: inherit;
}

@media(max-width:767px){
  fieldset .form-col:not(:first-child) {
    margin-top: 0.5rem;
  }
}
