.progress-bar {
  border-radius: 30px;
  box-shadow: none;
}

.main-form-container{
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 895px;
  padding: 40px; 
  position: relative;
  z-index: 2;

}
.main-form-container #domain_check_name {
  background-color: #fff;
  border: 2px solid #db6b1a;
  border-radius: 30px;   
  font-weight: 300; 
  overflow: hidden;
  height: 50px;
  width: 100%;
  padding-right: 45px;
}
.main-form-container #domain_check_name input.form-control{
  border: none;
  color:#000;
  font-size: 18px;
  font-weight: 300;
}
.advance-option{ 
  justify-content: flex-end;
  padding-top: 10px;
  margin-bottom: 0;
}
.advance-option p{ margin-bottom: 0;}
.custom-row{
  margin-bottom: 20px;
}
.custom-row h4{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.custom-row .form-control{
  margin-left: 10px;
}
.custom-row .form-control:first-child{
  margin-left: 0;
}
.custom-row .btn-danger-custom {
  margin-left: 10px;
  margin-right: 10px;
}
.fa-play-circle-o:hover {
  color: #fff;
}
.four-component input,
.four-component select {
  max-width: 165px;
}
.resetFullForm{
   margin-left: 10px;
}

.fa-play-circle-o {
  color: #9ad;
}

.input-group {
  width: 100%;
}

.checkboxForm {
  width: 100%;
}

.half-with {
  width: 50%;
}

button.launch {
  background-color: #db6b1a;
  border-radius: 30px;
  width: 135px;
}
button.launch:hover {
  background-color: #b9550c;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.advanced input:checked + .slider {
  background-color: #2196F3;
}

.advanced input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.advanced input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.advanced { 
  text-align: left;
}
.main-form-container .form-ckeck-group {
  flex:1;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.reset-form {
  position: absolute;
  right: 10px;
  top: 8px;
  opacity: 0.5;
  z-index: 100;
}
.reset-form button{
  padding: 0;
}
.reset-form button:focus{
  outline: none;
  box-shadow: none;
  
}

.reset-form:hover {
  opacity: 1;
}

.grey {
  color: grey;
}


.progress-value {
  display: block;
  color: #000;
  position: absolute;
  right: 10px;
}

.progress-result {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media(min-width:576px){
  .progress-result {
    position: absolute;
    z-index: 20;   
  }
  .progress-value {
    display: block;
    color: #000;
    position: absolute;
    right: 10px;
    font-size: 30px;
  }
  .checkboxForm {
    width: inherit;
  }

}

@media (min-width:768px) and (max-width:1023px){
  .advance-last-row input,
  .advance-last-row select{
    min-width: 49%;
    margin-bottom: 10px;
  }
  .advance-last-row .sm-full-width { display: flex; flex-wrap: wrap;}
  .custom-row select.form-control[formControlName="digtype"]{
    margin-left: 0;
  }
  .advance-last-row .btn-danger-custom{
    margin-left: auto;
  }
  .resetFullForm{ float: right;}

}
@media(min-width:768px){
  /* .progress-result {
    width: 85%;
  } */
}
@media (max-width:767px){
  .main-form-container{ padding: 20px;}
  .main-form-container .form-ckeck-group { flex: inherit; width: 100%;margin-bottom: 15px;}
  button.launch{width: 100%; margin-left: 0 !important;}  
  .custom-row input,
  .custom-row select,
  .sm-full-width{ width:100%;}
  .custom-row .form-control{ margin-left: 0; margin-bottom: 10px;}
  .four-component input,
  .four-component select {max-width: 100%;}
  .sm-full-width .btn-danger-custom{ margin: 0;}
  .sm-full-width .btn-success-custom,
  .resetFullForm{ float: right;} 

}


.nsForm {
  margin-bottom: 5px;
}
.has-error {
  color: red;
}
