<nav class="navbar navbar-light bg-light fixed-top navbar-expand-lg" [ngClass]="{'shrink': isShrunk}" #navView>
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navBar" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/">
      <img src="{{logoUrl}}" alt="Zonemaster" class="logo">
    </a>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/run-test" routerLinkActive="active" i18n>Run test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active" i18n="@@zm.faq.title">FAQ</a>
        </li>
      </ul>

      <div class="lang" i18n-title title="Change language">
        <label for="languageSelection" class="icon">
            <i class="fa fa-language" aria-hidden="true"></i>
            <span class="sr-only" i18n>Change language</span>
        </label>
        <div class="d-block">
          <select name="lang" [(ngModel)]="lang" (change)="setLanguage(lang)" class="form-select" id="languageSelection">
            <option *ngFor="let itemLang of enabledLanguages" [lang]="itemLang" [value]="itemLang" [selected]="lang === itemLang">
              {{ languages[itemLang] }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</nav>

<button (click)="backToTop()" class="btn btn-primary btn-lg" [ngClass]="{'d-none': !activeBackToTop, 'back-to-top': activeBackToTop}" role="button" i18n-title title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
