app-navigation nav {
  background-color: var(--primary-color-lighter);
  border-bottom: 1px solid var(--primary-color-light);
}

app-navigation .logo {
  height: 4rem;
  image-rendering: -webkit-optimize-contrast;
  transition: 0.2s linear height;
  padding: 0.5rem;
}

app-navigation #navBar a.active {
  font-weight: bold;
}

app-navigation .navbar-brand div {
  height: 100%;
}

app-navigation .lang {
  display: inline-flex;
  align-items: center;
}

app-navigation .lang .icon {
  width: 1em;
  line-height: 1em;
  margin: 0 .2em;
  font-size: 1.5em;
}

#languageSelection {
  width: auto;
}

@media(min-width: 768px) {
  app-navigation .navbar {
    padding: 0;
  }

  app-navigation .navbar > .container {
    height: 100%;
  }

  app-navigation #navBar {
    align-self: end;
    height: 100%;
    align-items: end;
  }

  app-navigation #navBar div.lang,
  app-navigation #navBar a {
    padding-bottom: 1.15rem;
  }

  app-navigation .navbar-brand,
  app-navigation #navBar a {
    margin-right: 1.5rem;
  }

  app-navigation #navBar a {
    border-bottom: .3rem solid transparent;
  }

  app-navigation #navBar a:focus,
  app-navigation #navBar a:hover,
  app-navigation #navBar a.active {
    border-bottom: .3rem solid var(--primary-color-light);
  }
}

@media(max-width: 991px) {
  app-navigation .logo {
    height: 3rem;
  }

  app-navigation #navBar div.lang,
  app-navigation #navBar a {
    padding-bottom: .65rem;
  }

}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
