.logo {
  width: 250px;
}

.lang > div > a {
  cursor: pointer;
  color: inherit;
}

.lang > div > a.selected {
  font-weight: bold;
  text-decoration: underline solid 1px;
}

nav {
  box-shadow: 0px 7px 5px -9px rgba(0,0,0,0.75);
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.github {
  width: 100px;
  height: 100px;
}

@media(min-width:992px){
  .shrink {
    height: 60px;
  }

  .shrink .logo {
    width: 200px;
  }

  .shrink .github {
    width: 60px;
    height: 60px;
  }
}

@media(max-width: 1300px) {
	 .github {
		         display: none
			  }
		  }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
