.main-navigation nav {
  height: 80px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  -webkit-transition: 0.2s linear height;
  -moz-transition: 0.2s linear height;
  -o-transition: 0.2s linear height;
  transition: 0.2s linear height;
}

.main-navigation .logo {
  height: 70px;
  image-rendering: -webkit-optimize-contrast;
  transition: 0.2s linear height;
  padding: 0.5rem;
}

.main-navigation .navbar-brand div {
  height: 100%;
}
.main-navigation .lang {
  display: inline-flex;
  align-items: center;
}
.main-navigation .lang .icon {
  width: 27px;
  line-height: 27px;
  margin: 0 5px;
  font-size: 20pt;
}
#languageSelection {
  width: auto;
}
.main-navigation .github {
  height: 100%;
}

@media(min-width:991px) {
  .main-navigation .shrink {
    height: 60px;
  }


  .main-navigation .shrink .github {
    width: 60px;
    height: 60px;
  }
}

@media(max-width: 991px) {
  .main-navigation .logo {
    height: 55px;
  }

  .main-navigation nav {
    height: auto;
  }

  .main-navigation .lang .icon {
    display: none;
  }
}

@media(max-width: 1300px) {
  .main-navigation .github {
    display: none
  }
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
