aside.about article {
    display: flex;
}

aside.about {
    padding: 0;
}

aside h4 {
    display: inline-block;
}

aside h4::after {
    content: '';
    display: block;
    width: 60%;
    height: 0.2rem;
    background-color: var(--primary-color);
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
}

aside.about .illustration {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

aside.about #home_illustration1 {
    background-image: url('assets/images/person_looking_at_computer.svg');
}

aside.about #home_illustration2 {
    background-image: url('assets/images/world_connected.svg');
}

aside.about article {
    margin-bottom: 5rem;
    display: flex;
    gap: 2rem;
}

aside.about article > * {
    flex: 1;
}

@media(max-width:991px) {
    aside.about .illustration {
        flex-basis: 30%;
    }

    aside.about .about-content {
        flex-basis: 70%;
    }
}

@media(max-width: 767px) {
    aside.about .illustration {
        display: none;
    }
}
