<app-header>
  <h1 i18n>Check how your domain is doing</h1>
  <app-run-test></app-run-test>
</app-header>
<div class="container about">
  <article>
    <div class="illustration" id="home_illustration1"></div>
    <div class="about-content">
      <h2 i18n>What is Zonemaster?</h2>
      <h3>
        Give your domain name a complete checkup! <strong>Zonemaster helps you assess how your domain
        name is doing.</strong>
        </h3>
      <p i18n>
        When a domain name is sent to Zonemaster for testing,
        Zonemaster investigates the state of the domain name
        from the top to the bottom of the DNS tree. This is usually done by
        examining DNS data from the root, '.', to the Top-Level Domain (TLD)
        for that domain name, like '.net', and then finally through the DNS servers that contain authoritative
        information about the specified domain name.
      </p>
      <p>
        <strong>Zonemaster performs many tests</strong>, such as checking DNSSEC signatures, or that different
        hosts can be accessed and that IP addresses are valid. This is all to make sure that
        your domain name runs as smoothly as possible.
      </p>
    </div>
  </article>

  <article>
    <div class="about-content">
      <h2 i18n>A word about the DNS</h2>
      <p i18n>
        The Domain Name System (DNS) is a database that associates domain names
        to Internet Protocol (IP) addresses, the same way a phone book associates names
        to phone numbers. An IP address is a unique series of numbers that identifies every
        computer that is connected to the Internet. It is similar to the way every telephone
        has its own number in the telephone network. Such long series of numbers work fine
        for computers, but for people it is way more difficult to memorize. Thus, the DNS has
        been developed as an extra layer to map between names that we can remember better and
        IP addresses used by computers whenever we want to reach a specific website or use
        other services on the Internet, like e-mail.
      </p>
    </div>
    <div class="illustration" id="home_illustration2"></div>
  </article>
</div>
